/*  Signup Page */
.signup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    min-height: 80vh;
    flex-wrap: wrap;
}
/*  Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}
.navbar nav{
    margin-left:auto;
}

.navbar nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #151313;
    font-weight: 500;
    transition: 0.3s;
    font-size: larger;
}

.navbar nav a:hover {
    color: #ff5835;
}
/* Form */
.signup-form {
    background: #f7f7f5;
    padding: 40px;
    border-radius: 25px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.signup-form h2 {
    margin-bottom: 10px;
}

.signup-form p {
    margin-bottom: 20px;
    font-size: 14px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

.signup-form input:focus {
    border-color: #ff5835;
}

/* Login link */
.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #ff5835;
    text-decoration: none;
}

/* Image */
.signup-image img {
    width: 600px;
    border-radius: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
        text-align: center;
    }

    .signup-image img {
        margin-top: 30px;
        width: 250px;
    }



}

.btn-primary {
    background: #ff5835;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}