/*  Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #9fb6c0;
    color: #151313;
}

/*  Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}
.navbar nav{
    margin-left:auto;
}

.navbar nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #151313;
    font-weight: 500;
    transition: 0.3s;
    font-size: larger;
}

.navbar nav a:hover {
    color: #ff5835;
}

/*  Buttons */
.btn {
    border: 1px solid #151313;
    background: transparent;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #151313;
    color: white;
}

.btn-primary {
    background: #ff5835;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.btn-secondary {
    background: #be94f5;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

/*  Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 52px;
    line-height: 1.2;
}

.hero-text span {
    color: #ff5835;
}

.hero-text p {
    margin: 20px 0;
    font-size: 16px;
    color: #333;
}

/*  Hero Card */
.hero-card {
    background: #f7f7f5;
    padding: 25px;
    border-radius: 25px;
    width: 260px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    

}

.hero-card h3 {
    margin-bottom: 10px;
}

.hero-image {
    width: 450px;
    border-radius: 20px;
}

/*  Categories */
.categories {
    padding: 60px ;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category {
    background: #f7f7f5;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.category:hover {
    background: #ff5835;
    color: white;
}

/*  Blog Section */
.blogs {
    padding: 40px 0px;
}

.blog-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

}

/*  Blog Cards */
.blog-card {
    flex: 1;
    min-width: 250px;
    padding: 25px;
    border-radius: 25px;
    transition: 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px);
}

/* Card Colors */
.yellow {
    background: #fccc42;
}

.purple {
    background: #be94f5;
}

.blue {
    background: #a8d0e6;
}

.blog-card h3 {
    margin-bottom: 10px;
}

.blog-card p {
    font-size: 14px;
}

.blog-card button {
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background: #151313;
    color: white;
    cursor: pointer;
}

/*  CTA Section */
.cta {
    text-align: center;
    padding: 70px 20px;
}

.cta h2 {
    margin-bottom: 20px;
}

/*  Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #f7f7f5;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/*  Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-card {
        margin-top: 30px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .blog-container {
        flex-direction: column;
    }
}